{% extends "base.html" %}

{% block announce %}
  For updates follow <strong>@frichette_n</strong> on
  <a rel="me" href="https://fosstodon.org/@frichetten/">
    <span class="twemoji mastodon">
      {% include ".icons/fontawesome/brands/mastodon.svg" %}
    </span>
    <strong>Fosstodon</strong>
  </a>
  and
  <a href="https://twitter.com/frichette_n">
    <span class="twemoji twitter">
      {% include ".icons/fontawesome/brands/twitter.svg" %}
    </span>
    <strong>Twitter</strong>
  </a>
{% endblock %}

{% block content %}
  {% if page.meta.author_name %}
    <p>Article by {{ page.meta.author_name }}.</p>
  {% endif %}
  {{ super() }}
{% endblock %}
